html {
    font-size: 62.5%; 
    transition: 0.5s ease; 
    scroll-behavior: smooth; 
}

:root {
    --logo-font: 'Yesteryear', cursive; 
}

/**** ELEMENT ****/

body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    overflow-x: hidden;
}

header {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    width: 100%; 
    height: 100vh; 
}

header nav {
    position: relative; 
    width: 100%; 
    height: 0; 
    min-height: 0rem;
    margin: 0; 
    overflow: hidden;
    padding: 0; 
    font-size: 1.5rem; 
    text-align: center; 
    background-color: #fff; 
    transition: all .5s; 
}

header nav a {
    margin: 1rem 1rem; 
    color: #000;
}

header nav span {
    display: none;
}

header nav a:hover {
    color: #e05504; 
    cursor: pointer;
    transition: color 0.2s;
}

main {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

footer {
    height: auto; 
    width: 100%; 
    background-color: #000; 
    color: #fff; 
}

footer div {
    justify-content: center; 
    padding-top: 2rem; 
}

footer nav {
    font-size: 2rem; 
    width: 100%; 
}

footer nav a {
    margin: 0 2rem 2.5rem 2rem; 
    position: relative; 
}

footer nav a:hover {
    color: #fa6f1e; 
}

footer a {
    color: #fff; 
}

footer li:hover a {
    color: #fa6f1e; 
}

footer h2 {
    margin-top: 0;
    font-size: 2.75rem; 
}

h1 {
    margin: 5rem; 
    font-size: 3rem; 
}

h2 {
    margin: 0; 
    font-size: 2rem; 
}

h3 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    color: #ff1100;
    font-size: 1.35rem;
}

a {
    text-decoration: none; 
}

/**** CLASS ****/

.flex-row {
    display: flex; 
    flex-direction: row; 
}

.flex-column {
    display: flex; 
    flex-direction: column; 
}

.flex-center {
    align-items: center; 
    justify-content: center; 
}

.hidden {
    display: none !important; 
}

.slide-button {
    position: relative;
}

.slide-button:after {
    content: ""; 
    position: absolute;
    bottom: -6px; 
    left: 0; 
    width: 0px; 
    height: 2.5px; 
    background-color: #e05504;
    transition: all .5s; 
}

.slide-button:hover:after {
    width: 100%; 
}

.initial-hidden {
    opacity: 0; 
    transform: translateY(10rem); 
}

.initial-slide {
    transition: transform 1s, opacity 1s;
}

/* Header */

.header-container-logo {
    max-height: 12vh; 
    width: 100%; 
    margin: 2rem 0;
    background-color: #fff; 
    justify-content: space-around;
    align-items: center;
}

.header-container-logo div:first-child {
    margin-right: 5rem; 
}

.image-logo {
    height: 5.5rem; 
    width: auto;
}

.p-logo {
    margin: 0.5rem 0;  
    font-family: var(--logo-font);
    font-size: 2rem; 
    font-weight: bold; 
}

#menu-toggle {
    appearance: none;
    display: none; 
}

.toggle-bar {
    display: block;
    width: 40px; 
    height: 4px;
    margin: 3px; 
    background-color: black; 
    border-radius: 8px;
    transition: all 0.4s; 
}

#menu-toggle + label:hover span {
    background-color: #e05504;
}

#menu-toggle:checked + label .top {
    transform: translateY(8.2px) rotate(45deg);
} 

#menu-toggle:checked + label .middle {
    height: 0px; 
}

#menu-toggle:checked + label .bottom {
    transform: translateY(-8.2px) rotate(-45deg);
}

.nav-link {
    padding: 0 2.5rem; 
    color: #000;
}

.nav-link:hover {
    color: #e05504; 
    cursor: pointer;
    transition: color 0.2s;
}

.header-container-welcome {
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("assets/guitar_background.jpg");
    background-size: cover; 
    background-position: left top;
    background-repeat: no-repeat;
    color: #fff; 
    text-align: center;
}

.p-welcome {
    font-size: 1.75rem; 
    margin: 0 5rem; 
}

.shop-name {
    font-size: 3.5rem; 
    font-family: var(--logo-font);
    transition: all 0.2s; 
}

/* Source Code for amazing link hover animation is from BROWNERD */
/* Link: https://codepen.io/brownerd/pen/wWOOqj */

.button-explore {
    margin: 10rem; 
    padding: 1rem 2rem; 
    color: #e05504; 
    font-family: Georgia, serif;
    font-size: 1.75rem; 
    border: 3px solid #e05504; 
    border-radius: 3rem; 
    overflow: hidden; 
    transition: .2s transform ease-in-out; 
    will-change: transform; 
    z-index: 0; 
}

.button-explore::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 0; 
    height: 100%; 
    width: 100%; 
    background-color: #e05504; 
    border-radius: 3rem; 
    transform: translate(-100%, 0) rotate(10deg); 
    transform-origin: top left; 
    transition: .2s transform ease-out; 
    will-change: transform; 
    z-index: -1; 
}

.button-explore:hover {
    color: #fff;
    border: 2px solid #e05504; 
    transform: scale(1.05); 
}

.button-explore:hover::after {
    transform: translate(0, 0); 
}

/* Main */

.main-container-services {
    width: 100%; 
    min-height: 75vh; 
    text-align: center;
    margin: 5rem 0; 
}

.image-service {
    display: none;
}

.container-service {
    max-width: 20rem; 
    width: 100%; 
    margin: 3.5rem 3.5rem 4.5rem 3.5rem; 
    text-align: center; 
    font-size: 1.25rem;
    border: 0.2rem black solid;
    border-radius: 0.3rem;
    transition: 0.3s all; 
}

.container-service:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.10), 0 10px 15px rgba(0, 0, 0, 0.15); 
    transform: scale(1.05); 
}

.heading-service {
    padding: 1rem;
    background-color: #fff0e6;
    border-bottom: 0.2rem black solid;
}

.description-service {
    list-style: none; 
    padding: 0; 
}

.description-service li {
    margin: 2rem; 
}

.p-disclaimer {
    margin: 4px; 
    font-size: 1rem; 
}

.main-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.main-container-signup {
    position: relative; 
    padding: 10rem 5rem; 
    background-color: #fff; 
    border: 3px solid #000; 
    outline: 10px solid #fff;
}

.main-container-signup svg {
    position: absolute; 
    top: -15%; 
    left: -8%;  
}

.button-close {
    position: absolute;
    top: 15px; 
    right: 15px; 
    height: 4rem; 
    width: 4rem; 
}

.button-close:hover {
    cursor: pointer;
}

.p-signup {
    font-size: 2rem; 
}

.input-email {
    height: 3.5rem; 
    margin-right: 10px;
    padding: 5px; 
    font-size: 1.75rem; 
    box-sizing: border-box;
}

.input-email:focus {
    outline: none; 
    box-shadow: 0 0 0.5rem 0.4rem rgba(224, 85, 4, 0.3); 
}

/* Source Code for amazing button hover animation is from David Conner */
/* Link: https://codepen.io/davidicus/pen/emgQKJ */

.submit-email {
    position: relative; 
    height: 3.5rem; 
    width: 10rem; 
    padding: 5px; 
    background-color: #f76c1b; 
    font-size: 1.75rem; 
    border: 0.5px #000 solid; 
    box-sizing: border-box; 
    overflow: hidden;
}

.submit-email::after {
    content: "";
    position: absolute;
    left: -110%; 
    top: -50px; 
    height: 155px;
    width: 50px;
    background: #fff;
    opacity: .2;
    transform: rotate(35deg);
    transition: all 1.75s cubic-bezier(0.20, 1, 0.23, 1);
}

.submit-email:hover {
    cursor: pointer;
}

.submit-email:hover::after {
    left: 110%; 
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.container-signup-disclaimer {
    margin-top: 2rem; 
}

.main-container-reviews {
    position: relative; 
    min-height: 40vh; 
    width: 90%; 
    align-items: center; 
    overflow: hidden;
    margin: 5rem 0; 
}

.container-review {
    position: absolute; 
    top: 10rem; 
    width: 50%; 
    justify-content: center; 
    font-size: 12px; 
    line-height: 25px; 
    transition: transform 1s;
}

.container-review h3 {
    color: #e05504; 
    font-style: italic; 
    margin-left: 0; 
}

.header-review {
    display: flex; 
    justify-content: space-between; 
}

.review-text {
    display: none;
}

.review-star {
    position: inline-block; 
    color: #ffd700;
    margin-right: 0; 
}

.full-star:before {
    content: "★"; 
    font-size: 20px; 
}

.empty-star:before {
    content: "☆"; 
    font-size: 20px; 
}

.review-profile {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.review-profile h4 {
    color: #000; 
    margin-left: 20px; 
}

.review-profile img {
    width: 75px; 
    height: 75px; 
    margin-top: 15px; 
    border-radius: 50%; 
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.35); 
}

.button-slider {
    position: absolute; 
    top: 15rem; 
}

.button-left {
    left: 1rem; 
}

.button-right {
    right: 1rem; 
}

svg.button-slider {
    width: 50px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}

svg.button-slider polygon {
    transition: all 0.5s cubic-bezier(.2,1,.3,1);
}

svg.button-slider:hover polygon {
    transition: all 1s cubic-bezier(.2,1,.3,1);
    fill: #e05504;
}

svg.button-slider:hover .arrow-fixed {
    animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1);
}

svg.button-slider:hover .arrow {
    animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1);
}

@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    5% {
        transform: translateX(-0.1rem);
    }

    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.main-container-contact {
    position: relative; 
    min-height: 75vh; 
    width: 100%; 
    background-image: url("assets/shop_background.jpg"); 
    background-size: cover; 
    background-position: left top;
    background-repeat: no-repeat;
}

.main-container-contact h2 {
    margin: 1rem 0; 
}

.main-container-contact div {
    width: 75%; 
    padding: 3rem 6rem; 
    margin: 5rem; 
    background-color: #fff; 
    border-radius: 1rem; 
}

.main-container-contact label {
    margin-top: 1.35rem; 
    font-size: 1.25rem; 
}

.main-container-contact select {
    margin-top: 0.5rem; 
    font-family: inherit; 
}

.main-container-contact input {
    box-sizing: border-box; 
    height: 3.1rem; 
    width: 100%; 
    margin-top: 0.5rem; 
    padding-left: 0.5rem; 
    background-color: #e9e9ed; 
    font-size: 1.25rem; 
    font-family: inherit; 
    border: 0.1rem solid #adacac;
    border-radius: 0.3rem;
    transition: 0.1s;
}

.main-container-contact input:focus {
    background-color: #fff; 
    box-shadow: 0 0 0.5rem 0.4rem rgb(224, 85, 4, 0.3);
    border: 0.2rem solid #adacac;
    outline: none; 
}

.main-container-contact label:last-of-type {
    display: flex; 
    align-items: center; 
}

.main-container-contact input[type="checkbox"] {
    appearance: none; 
    min-height: 20px; 
    min-width: 20px; 
    max-height: 20px;
    min-width: 20px; 
    width: 20px; 
    margin: 0; 
    margin-right: 1rem; 
    padding: 0; 
    background-color: #fff; 
}

.main-container-contact input[type="checkbox"]:before {
    content: "✓";
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    z-index: 2;
}

.main-container-contact input[type="checkbox"]:checked {
    background-color: #e05504; 
}

.main-container-contact input[type="checkbox"]:focus {
    box-shadow: none; 
    border: 0.1rem solid #adacac;
}

.main-container-contact textarea {
    box-sizing: border-box; 
    width: 100%; 
    margin-top: 0.5rem; 
    padding: 0.5rem; 
    background-color: #f2f3f4; 
    font-size: 1.25rem; 
    font-family: inherit; 
    border: 0.1rem solid #adacac;
    border-radius: 0.3rem;
    transition: 0.1s;
    resize: vertical; 
}

.main-container-contact textarea:focus {
    height: 7rem; 
    background-color: #fff; 
    box-shadow: 0 0 0.5rem 0.4rem rgb(224, 85, 4, 0.3);
    border: 0.2rem solid #adacac;
    outline: none; 
}

.main-container-contact button {
    width: 10rem; 
    margin-top: 2rem; 
    font-size: 1.25rem; 
    font-family: inherit; 
}

.optional {
    margin-left: 1rem; 
    color: #f2f3f4; 
    font-style: italic; 
}

.main-container-location {
    min-height: 60vh; 
    width: 100%; 
}

.main-container-location div div {
    margin: 3rem 15rem 3rem 0; 
}

.main-container-location h2 {
    font-size: 3rem; 
    margin: 2rem 0 1rem 0; 
}

.main-container-location p {
    font-size: 1.5rem; 
}

hr.solid {
    width: 100%; 
    border-top: 3px solid black;
}

/* Footer */

.ul-social {
    margin: 3rem 0; 
    padding: 0; 
    width: 100%;
}

.ul-social li {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
    width: 5rem; 
    height: 5rem; 
    margin: 0 2.5rem; 
    text-align: center; 
    border-radius: 50%; 
    border: 2px solid #000; 
    transition: all 0.3s; 
}

.ul-social a {
    font-size: 2rem; 
}

.ul-social li:hover {
    border: 2px solid #fa6f1e; 
}

.container-about {
    width: 50rem; 
    margin-left: 5rem; 
    font-size: 1.5rem; 
}

.footer-container-privacy ul {
    list-style-type: none;
    padding: 0; 
}

.footer-container-privacy a {
    font-size: 1.5rem; 
    margin: 0.5rem; 
}

.footer-container-privacy p {
    font-size: 1.5rem; 
}

/**** MEDIA QUERY ****/

@media (min-width: 600px) {
    header nav span {
        display: flex;
    }

    h1 {
        font-size: 5rem; 
    }

    h2 {
        font-size: 3rem; 
    }

    h3 {
        font-size: 2rem; 
    }

    h4 {
        font-size: 1.75rem;
    }

    .flex-column.flex-md-row {
        flex-direction: row;
    }

    .p-welcome {
        font-size: 2.5rem; 
    }

    .shop-name {
        font-size: 5.5rem; 
    }

    .button-explore {
        padding: 1rem 2rem; 
        font-size: 2.5rem; 
    }

    .header-container-welcome {
        padding-top: 5rem; 
    }

    .image-service {
        display: block;
        max-width: 25rem; 
        width: 100%;
        margin: 3.5rem; 
        margin-bottom: 0.5rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
    }

    .container-service {
        max-width: 25rem; 
        font-size: 1.55rem;
    }

    .main-container-reviews {
        min-height: 75vh; 
        width: 85%; 
    }

    .review-text {
        display: flex;
    }

    .p-disclaimer {
        font-size: 1.15rem; 
    }

    .button-slider {
        top: 30rem; 
    }

    .full-star:before {
        font-size: 25px; 
    }

    .empty-star:before {
        font-size: 25px; 
    }

    .container-review {
        top: 15rem; 
        font-size: 13px; 
    }

    .review-profile img {
        width: 85px; 
        height: 85px; 
    }

    .button-left {
        left: 2rem; 
    }
    
    .button-right {
        right: 2rem; 
    }

    .main-container-contact div {
        width: 65%; 
        padding: 4rem 8rem; 
    }

    .main-container-contact label {
        margin-top: 1.8rem; 
        font-size: 1.45rem; 
    }

    .main-container-contact input {
        font-size: 1.45rem; 
    }

    .main-container-contact textarea {
        font-size: 1.45rem; 
    }

    .main-container-contact textarea:focus {
        height: 8.5rem;  
    }

    .main-container-contact button {
        font-size: 1.45rem; 
    }

    .main-container-contact button {
        width: 12rem; 
    }

    .main-container-contact input[type="checkbox"] {
        min-height: 25px; 
        min-width: 25px; 
        max-height: 25px;
        min-width: 25px; 
        width: 25px; 
    }
}


@media (min-width: 1200px) {

    header nav {
        min-height: 5rem;
        margin: 1.5rem 0; 
        font-size: 1.75rem; 
    }

    header nav a {
        margin: 2.5rem 2.5rem; 
    }

    h1 {
        font-size: 7rem; 
    }

    h2 {
        margin: 5rem; 
        font-size: 4rem; 
    }

    h3 {
        font-size: 3rem; 
    }

    h4 {
        font-size: 2rem;
    }

    .slide-button:after {
        bottom: -8px; 
        height: 3px; 
    }

    .header-container-logo {
        max-height: 17vh; 
        margin-top: 3rem;
    }

    .header-container-logo div:nth-child(2) {
        display: none;
    }

    .image-logo {
        height: 8.5rem; 
    }

    .p-logo {
        font-size: 3rem; 
    }

    .p-welcome {
        font-size: 3rem; 
    }

    .shop-name {
        font-size: 8rem; 
    }

    .button-explore {
        font-size: 3rem; 
    }

    .header-container-welcome {
        margin-top: 0rem; 
        padding: 0; 
    }

    .image-service {
        max-width: 30rem; 
        margin: 5rem; 
        margin-bottom: 0.5rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
    }

    .container-service {
        max-width: 30rem; 
        margin: 5rem; 
        font-size: 1.75rem;
    }

    .main-container-reviews {
        width: 75%; 
    }

    .button-slider {
        top: 35rem; 
    }

    .p-disclaimer {
        font-size: 1.35rem; 
    }

    .full-star:before {
        font-size: 35px; 
    }

    .empty-star:before {
        font-size: 35px; 
    }

    svg.button-slider {
        width: 75px;
    }

    .container-review {
        top: 25rem; 
        font-size: 15px; 
    }

    .review-profile img {
        width: 100px; 
        height: 100px; 
    }

    .button-left {
        left: 3rem; 
    }
    
    .button-right {
        right: 3rem; 
    }

    .main-container-contact div {
        width: 50%; 
        padding: 5rem 10rem; 
    }

    .main-container-contact label {
        margin-top: 2rem; 
        font-size: 1.5rem; 
    }

    .main-container-contact input {
        font-size: 1.5rem; 
    }

    .main-container-contact textarea {
        font-size: 1.5rem; 
    }

    .main-container-contact textarea:focus {
        height: 10rem;  
    }

    .main-container-contact button {
        font-size: 1.5rem; 
    }
    
}